# Hulu Dualsub
# Hulu subtitles add-ons

hostname = *.huluim.com

^http.+huluim.com\/.+\.vtt$ url script-response-body https://raw.githubusercontent.com/BOBOLAOSHIV587/Rules/refs/heads/main/QuantumultX/Dualsub/Dualsub.js
https:\/\/setting.huluim.com\/\?action=(g|s)et url script-analyze-echo-response https://raw.githubusercontent.com/BOBOLAOSHIV587/Rules/refs/heads/main/QuantumultX/Dualsub/Dualsub.js
