# Youtube Subtrans
# Youtube subtitles add-ons

hostname = *.youtube.com

https:\/\/www.youtube.com\/api\/timedtext.+ url script-response-body https://raw.githubusercontent.com/BOBOLAOSHIV587/Rules/main/QuantumultX/Dualsub/Dualsub.js
https:\/\/setting.youtube.com\/\?action=(g|s)et url script-analyze-echo-response https://raw.githubusercontent.com/BOBOLAOSHIV587/Rules/main/QuantumultX/Dualsub/Dualsub.js
