#!name=Pixiv Show
#!desc=高定制化Pixiv推送服务,可在BoxJS中做更详细的设置
#!openUrl=https://github.com/BOBOLAOSHIV587
#!author=BOBOLAOSHIV587
#!homepage=https://github.com/BOBOLAOSHIV587/Rules/tree/main/Task/PixivShow
#!manual=https://github.com/BOBOLAOSHIV587
#!icon=https://raw.githubusercontent.com/BOBOLAOSHIV587/Rules/main/Task/PixivShow/Script/icon.png

[task_local]
0 0/30 8-22 * * ? https://raw.githubusercontent.com/BOBOLAOSHIV587/Rules/main/Task/PixivShow/Script/PixivShow.js, tag=Pixiv Show, img-url=https://raw.githubusercontent.com/BOBOLAOSHIV587/Rules/main/Task/PixivShow/Script/PixivShowICON.png, enabled=true
